// 全局变量
:root {
  // 绿色主题
  --theme-color: #42b983;
  // --box-bg: #fdf9ec;
  --box-bg: #ffffcd;
  --gray-bg: #fdf9ec;
  // 紫色
  // #ededf7
  // --box-bg: #f8e3c6e5;
}

// 底部距离
.mb-05 {
  margin-bottom: 5px;
}

// 文档表格样式
.doc-table {
  width: 100%;
  // background-color: #bfc;

  table,
  thead,
  tbody tr {
    width: 100% !important;
  }

  th,
  td {
    width: 300px;
  }
}

// 3列表格
.doc-table.column3 {
  tr {
    :nth-child(1) {
      width: 20% !important;
    }

    :nth-child(2) {
      width: 52% !important;
    }
  }
}

// 4列表格
.doc-table.column4 {
  tr {
    :nth-child(1) {
      width: 22% !important;
    }

    :nth-child(3) {
      width: 10% !important;
    }

    :last-child {
      width: 13% !important;
    }
  }
}
.demo-box{
  height: 300px;
  background: var(--gray-bg);
  overflow: auto;
}


.ellipsis{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}