// 覆盖主题颜色
:root {
  --vp-c-indigo-1: var(--theme-color);
  // --vp-c-indigo-1: #da5583
}

// 覆盖主题样式
.VPDoc.has-aside .content-container {
  max-width: 888px !important;
}

.vp-doc {

  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, Arial, sans-serif;
  strong {
    color: #236948;
    // color: #525050;
    // color: #3f9cd6;
  }

  h1,
  h2 {
    color: #606266;
  }

  h2 {
    margin: 0 0 16px;
    border-top: none;
  }
  h3{
    margin:32px  0 16px 0;
  }
  h4{
    font-size: 18px;
  }

  // 表格样式调整
  th,
  td {
    border-left: none;
    border-right: none;
  }

  th {
    background-color: transparent;
  }

  // table,
  // tbody,
  // thead,
  // tr,th {
  //   width: 100%;
  // }

  tr:nth-child(2n) {
    background-color: transparent;
  }

  blockquote {
    border-left: 3px solid var(--vp-c-divider);
    background: rgb(248, 247, 247);
  }
}

// 代码高亮
.line.highlighted {
  background-color: rgba(187, 255, 204, 0.464) !important;
}